ul.header-links {
    list-style-type: none;

}

.main-header-text {
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}

.header, .footer {
    background-color: #1F2937;
}

ul.header-links, .header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}