body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

ul.header-links {
    list-style-type: none;
    display: flex;
    margin-right: 9rem;
}

.main-header-text {
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}

.hero, .footer {
    background-color: #1F2937;
}

ul.header-links, .header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 9rem;
}

.button-top, .button-bottom {
    background-color: #3882F6;
    border-radius: 4px;
    padding: 4px 20px;
    text-align: center;
    color:#F9FAF8;
}

.button-top {
    border: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.empty-image {
    width: 150px;
    height: 150px;
    border-width: 5px;
    border-color:#3882F6;
    border-style: solid;
    border-radius: 20px;
}

.header-text-image {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.image-placeholder {
    padding: 75px 100px;
    background-color: #8D8E91;
    color: #E5E7EB;
    margin-right: 10rem;   
}

li {
    margin: 0px 20px;
}

.image-text {
    margin-left: 9rem;
}

.header-white {
    text-align: center;
}

.image-and-subtext {
    display: flex;
    justify-content: space-around;
}

.images-row {
    text-align: justify;
    width: 300px;
}

.grey-middle {
    background-color: #E5E7Eb;
    display: flex;
    justify-items: center;
    align-items: center;
}

.quote {
    font-style: light italic;
    font-size: 36px;
font-weight: 300;
    color: #1F2937;
}

.author {
    font-weight:600;
}

.blue-rectangle {
    background-color: #3882F6;
    color: #F9FAF8;
}

.button-bottom {
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 3px;
}

.call-to-action {
    font-weight:900;
}

.footer {
    color:#E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}